/* ******* GENERAL ******** */
:root {
  --yellow: #ffff37;
  --pink: #e93794;
  --black: #1d1d1c;
}

h1 {
  font-family: "forma-djr-banner", sans-serif;
}

p {
  font-family: "objektiv-mk1", sans-serif;
}

body {
  background-color: var(--black);
}

footer {
  width: 100%;
}

/* *********************** */

/* ******** SECTION 01 *********/

.h1-button {
  width: 122px;
  height: 40px;
  font-size: 18px;
  font-weight: 700;
  color: var(--pink);
  background-color: var(--yellow);
  box-shadow: 7px 7px var(--pink);
  transition-duration: 0.5s;
  margin-right: 50px;
}

.h1-button:hover {
  box-shadow: 1px 1px #000;
  transform: translateX(7px) translateY(7px);
}

.h1-img {
  width: 100%;
}

.img-container {
  position: relative;
  text-align: center;
  color: white;
}
.paper-ripped-top {
  position: absolute;
  bottom: 0px;
}
.paper-ripped-bottom {
  position: absolute;
  bottom: -80px;
}

.h1-image-desktop {
  display: none;
}

/* ********* VÅRA PROJEKT ******** */
.project-slide {
  width: 100%;
  position: relative;
  text-align: center;
  color: white;
}

.project-mobile {
  width: 100%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project-inside {
  background-color: #e93794;
  height: 300px;
}

.project-title {
  background-color: #ffff37;
  color: black;
  padding: 1rem;
  width: 10rem;
  position: absolute;
  top: 2rem;
  left: 1rem;
}
/* *********************** */

/* *********VÅRA LAB ******* */
.lab-button {
  width: 185px;
  height: 33px;
  font-size: 18px;
  font-weight: 700;
  color: var(--yellow);
  background-color: var(--pink);
  box-shadow: 7px 7px var(--yellow);
  transition-duration: 0.5s;
  margin-bottom: 50px;
}
.lab-button:hover {
  box-shadow: 1px 1px #000;
  transform: translateX(7px) translateY(7px);
}
.opacity{
  opacity: 1;
}
/* *********PROVKÖR FRAMTIDEN*********** */
.test-drive-section {
  background-image: url(/images/paper_background_section.webp);
  background-size: cover;
  background-repeat: no-repeat;
  height: 792px;
}
.contact-button {
  width: 175px;
  height: 38px;
  font-size: 18px;
  font-weight: 700;
  color: var(--pink);
  background-color: var(--yellow);
  box-shadow: 7px 7px var(--pink);
  transition-duration: 0.5s;
  margin-bottom: 50px;
}
.contact-button:hover {
  box-shadow: 1px 1px #000;
  transform: translateX(7px) translateY(7px);
}
/* ********* FOOTER *********** */

.footer-tagline {
  font-family: "forma-djr-banner", sans-serif;
}

.mail-text {
  font-family: objektiv-mk1, sans-serif;
  font-weight: 500;
}
/* *********************** */

@media (min-width: 768px) {
  .h1-button {
    width: 168px;
    height: 55px;
    font-size: 29px;
  }

  .h1-images {
    display: none;
  }

  .h1-image-desktop {
    display: block;
    position: relative;
  }
  .test-drive-section {
    height: 1371px;
  }

  .header-text {
    position: absolute;
    top: 0;
  }

  .header-buttons {
    position: absolute;
    top: 25rem;
  }
}
