/* ******* GENERAL ******** */
:root {
  --yellow: #ffff37;
  --pink: #e93794;
  --black: #1d1d1c;
}

h1,
h2 {
  font-family: "forma-djr-banner", sans-serif;
  letter-spacing: 2px;
}

p {
  font-family: "objektiv-mk1", sans-serif;
}

body {
  background-color: var(--black);
}

footer {
  width: 100%;
}

/* *********************** */

/* ******** SECTION 01 *********/

.h1-button {
  width: 122px;
  height: 40px;
  font-size: 18px;
  font-weight: 700;
  color: var(--pink);
  background-color: var(--yellow);
  box-shadow: 7px 7px var(--pink);
  transition-duration: 0.5s;
  margin-right: 30px;
}

.h1-button:hover {
  box-shadow: 1px 1px #000;
  transform: translateX(7px) translateY(7px);
}

.h1-img {
  width: 100%;
}

.img-container {
  position: relative;
  text-align: center;
  color: white;
}
.paper-ripped-top {
  position: absolute;
  bottom: 0px;
}
.paper-ripped-bottom {
  position: absolute;
  bottom: -80px;
}

.h1-image-desktop {
  display: none;
}

/* ********* VÅRA PROJEKT ******** */
.project-slide {
  width: 100%;
  position: relative;
  text-align: center;
  color: white;
}

.project-mobile {
  width: 100%;
  height: 700px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project-inside {
  position: absolute;
  top: 18rem;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project-title {
  background-color: #ffff37;
  z-index: 1;
  text-align: left;
  font-family: "objektiv-mk1", sans-serif;
  font-size: 28px;
  letter-spacing: 1px;
  color: black;
  padding: 1rem;
  padding-left: 1.5rem;
  width: 290px;
  height: 70px;
  position: absolute;
  top: 4rem;
  left: 1rem;
  box-shadow: 7px 7px 2px rgba(0, 0, 0, 0.1);
}

.project-sub-title {
  background-color: #fafafa;
  z-index: 1;
  font-family: "objektiv-mk1", sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  color: var(--pink);
  padding-top: 10px;
  width: 132px;
  height: 48px;
  position: absolute;
  top: 9.5rem;
  left: 1rem;
  box-shadow: 7px 7px 2px rgba(0, 0, 0, 0.1);
}

.project-arrow {
  background-color: #fafafa;
  width: 64px;
  height: 48px;
  display: flex;
  padding: 15px;
  box-shadow: 7px 7px 2px rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 0;
  top: 15rem;
}

.project-inside-text {
  text-align: left;
  padding-left: 2rem;
  padding-right: 2rem;
  position: absolute;
  top: 27rem;
}

/* *********************** */

/* *********VÅRA LAB ******* */
.all-lab-button {
  width: 270px;
  height: 36px;
  font-size: 18px;
  font-weight: 700;
  color: var(--pink);
  background-color: var(--yellow);
  box-shadow: 7px 7px var(--pink);
  transition-duration: 0.5s;
  margin-bottom: 50px;
}

.test-drive-section {
  background-image: url(/images/paper_background_section.webp);
  background-size: cover;
  background-repeat: no-repeat;
  height: 792px;
}
.contact-button {
  width: 175px;
  height: 38px;
  font-size: 18px;
  font-weight: 700;
  color: var(--pink);
  background-color: var(--yellow);
  box-shadow: 7px 7px var(--pink);
  transition-duration: 0.5s;
  margin-bottom: 50px;
}

.footer-tagline {
  font-family: "forma-djr-banner", sans-serif;
}

.mail-text {
  font-family: objektiv-mk1, sans-serif;
  font-weight: 500;
}
/* *********************** */

@media (min-width: 768px) {
  .test-drive-section {
    background-image: url("images/paper_background_1700.png");
  }
  .h1-button {
    width: 168px;
    height: 55px;
    font-size: 29px;
  }

  .h1-images {
    display: none;
  }

  .h1-image-desktop {
    display: block;
    position: relative;
  }
  .test-drive-section {
    height: 1371px;
  }

  .header-text {
    position: absolute;
    top: 0;
  }

  .header-buttons {
    position: absolute;
    top: 25rem;

  }
  .contact-button {
    width: 195px;
    height: 55px;
    font-size: 29px;

  }
  .all-lab-button {
    width: 379px;
    height: 55px;
    font-size: 29px;

  }
}
