/* ******* GENERAL ******** */
:root {
  --yellow: #ffff37;
  --pink: #e93794;
  --black: #1d1d1c;
}

h1 {
  font-family: "forma-djr-banner", sans-serif;
}

p {
  font-family: "objektiv-mk1", sans-serif;
}

body {
  background-color: var(--black);
}

/* *********************** */

/* ******** SECTION 01 *********/

.h1-button {
  width: 122px;
  height: 40px;
  font-size: 18px;
  font-weight: 700;
  color: var(--pink);
  background-color: var(--yellow);
  box-shadow: 7px 7px var(--pink);
  transition-duration: 0.5s;
  margin-right: 50px;
}

.h1-button:hover {
  box-shadow: 1px 1px #000;
  transform: translateX(7px) translateY(7px);
}

.h1-img {
  width: 100%;
}

.img-container {
  position: relative;
  text-align: center;
  color: white;
}
.paper-ripped-top {
  position: absolute;
  bottom: 0px;
}
.paper-ripped-bottom {
  position: absolute;
  bottom: -80px;
}

.h1-image-desktop {
  display: none;
}

/* *********************** */

@media (min-width: 768px) {
  .h1-button {
    width: 168px;
    height: 55px;
    font-size: 29px;
  }

  .h1-images {
    display: none;
  }

  .h1-image-desktop {
    display: block;
    position: relative;
  }
}
